
<!-- ###RENDER_BLOGROLL_LIST### begin-->

	<ul class='xoxo blogroll'>
	<!-- ###RENDER_BLOGROLL_ITEM### begin-->

		<li><!-- ###LINK_ROLL### -->###TITLE###<!-- ###LINK_ROLL### --></li>

	
	<!-- ###RENDER_BLOGROLL_ITEM### end-->
	</ul>

<!-- ###RENDER_BLOGROLL_LIST### end-->

<!-- ###BLOGROLL_LINK### begin-->
	<a href="###URL###" title="###DESCRIPTION###" ###FOAF### target="###TARGET###">|</a>
<!-- ###BLOGROLL_LINK### end-->


<div id="c831" class="csc-default"><div class="csc-header csc-header-n4"><h3 style="text-align:left;">Kommentare</h3></div>
	<div class="tx-timtablatestcomments-pi1">
		<div class="latestComments">
			<div class="latestCommentEntry">
				<p class="author"><a href="blog+M5d1052d592b.html">Jorgo </a></p>
				<p class="entry">Ja, im Spiel gegen Deutschland gefiel mir Spanien auch besser oder anders gesagt, es war das EINZIGE...</p>
			</div>
			<div class="latestCommentEntry"><p class="author"><a href="blog+M5d1052d592b.html">regenrot </a></p><p class="entry">Das Spiel gestern war in der Tat sehr gewaltgeprägt, beim Spiel gegen Deutschland muss ich aber sag...</p></div><div class="latestCommentEntry"><p class="author"><a href="blog+M5999ff15e6c.html">Spanien </a></p><p class="entry">Meiner Erfahrung nach ist das Google Translation Tool momentan das beste Online-Tool für maschinell...</p></div><div class="latestCommentEntry"><p class="author"><a href="blog+M59f2e830ff9.html">Juergen </a></p><p class="entry">das finde ich interessant. habe nie darüber nachgedacht.</p></div><div class="latestCommentEntry"><p class="author"><a href="blog+M5f551091ee9.html">Juergen </a></p><p class="entry">mir scheint diese panikmache total übertrieben. google hat gar kein interesse meine email oder mein...</p></div></div>

	</div>
	
	
<!-- ###RENDER_LATEST_COMMENTS_LIST### begin-->
	<div class="tx-timtab-latestComments">
	<!-- ###RENDER_LATEST_COMMENTS_ITEM### begin-->
		<div class="latestCommentEntry">
			<p class="author"><!-- ###LINK_COMMENT### --> ###NAME### <!-- ###LINK_COMMENT### --></p>
			<p class="entry">###SHORT###</p>
		</div>
	<!-- ###RENDER_LATEST_COMMENTS_ITEM### end-->
	</div>
<!-- ###RENDER_LATEST_COMMENTS_LIST### end-->